<div style="height: 100%;">
  <div class="accordion" id="tqaccord" style="display: block;position: fixed;height: 1300%;">
    <ul style="list-style:none;">
      <li  >
        <h1 style="border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
          <a routerLink="/dash" routerLinkActive="active">
            <i class="fa fa-home" aria-hidden="true" style="font-size: 22px;padding-right: 5px;"></i>
            <span style="font-size:16px;position:absolute;margin-top: 2px;">Dashboard</span>
          </a>
        </h1>
      </li>
   
      <li >
        <h1 style="border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
          <b class="caret pull-right"></b>
          <a  class="nav-link " routerLink="/report" routerLinkActive="active">Reports
          </a>



        </h1>
      </li>

    </ul>
  </div>
</div>